{% extends "base.html" %}
{% block content %}

    <div class="row card-panel">
        <h4 class="center-align">Add Customer</h4>
        <form class="col s12" method="POST" action="{{ url_for('add_customer') }}">
            <!-- Company and customer name fields -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">business_center</i>
                    <input id="company_name" name="company_name" 
                        minlength="5" maxlength="30" type="text" class="validate" required>
                    <label for="company_name">Company Name</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="customer_name" name="customer_name" 
                        minlength="3" maxlength="30" type="text" class="validate" required>
                    <label for="customer_name">Customer Name</label>
                </div>
            </div>
            <!-- Phone and Email fields -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">phone</i>
                    <input id="contact_no" name="contact_no" pattern="^[0-9]{1,15}$"
                        minlength="1" maxlength="15" type="text" class="validate" required>
                    <label for="contact_no">Contact No</label>
                 </div>
                 <div class="input-field col s6">
                    <i class="material-icons prefix">email</i>
                    <input id="email" name="email" 
                        minlength="5" maxlength="30" type="text" class="validate" required>
                    <label for="email">Email</label>
                </div>
            </div>
            <!-- Address fields -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">room</i>
                    <textarea id="address" name="address" class="materialize-textarea" 
                        minlength="5" maxlength="100" required></textarea>
                    <label for="address">Address</label>
                </div>
            </div>
            <!-- Submit and cancel buttons -->
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('get_tasks') }}" class="btn-large red text-shadow">Cancel 
                        <i class="material-icons right">exit_to_app</i>
                    </a>
                    <button class="btn-large waves-effect waves-light" type="submit">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- Customer list -->
    <table class="highlight">
        <thead>
        <tr>
            <th>Company Name</th>
            <th>Customer Name</th>
            <th>Contact No</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.company_name }}</td>
            <td>{{ customer.customer_name }}</td>
            <td>{{ customer.contact_no }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.address }}</td>
            <td><a href="{{ url_for('delete_customer', customer_id=customer.id) }}" class="btn red lighten-1">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
      
{% endblock %}


