{% extends "base.html" %}
{% block content %}

    <div class="row card-panel">
        <h4 class="center-align">Edit Task</h4>
        <form class="col s12" method="POST" action="{{ url_for('edit_task', task_id=task._id) }}">
            <!-- Company and customer name fields -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">business_center</i>
                    <select id="company_name" name="company_name" class="validate" required>
                        {% for customer in customers %}
                            <option value="{{ task.company_name }}">{{ customer.company_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="company_name">Customer</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="job_title" name="job_title" value="{{ task.job_title }}"
                        minlength="5" maxlength="30" type="text" class="validate" required>
                    <label for="job_title">Job Title:</label>
                </div>
            </div>
            <!-- Job description fields -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">assignment</i>
                    <textarea id="job_description" name="job_description" class="materialize-textarea" 
                        minlength="5" maxlength="100" required>
                    {{- task.job_description -}}
                    </textarea>
                    <label for="job_description">Job Description</label>
                </div>
            </div>
            <!-- Quantity and materials fields -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">playlist_add</i>
                    <input id="quantity" name="quantity" pattern="^[0-9]{1,10}$" value="{{ task.quantity }}"
                        minlength="1" maxlength="10" type="text" class="validate" required>
                    <label for="quantity">Quantity</label>
                 </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">layers</i>
                    <input id="materials" name="materials" value="{{ task.materials }}"
                        minlength="3" maxlength="30" type="text" class="validate" required>
                    <label for="materials">Materials:</label>
                </div>
            </div>
            <!-- Printing and finishing fields -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">format_color_fill</i>
                    <input id="printing" name="printing" value="{{ task.printing }}"
                        minlength="5" maxlength="30" type="text" class="validate" required>
                    <label for="printing">Printing</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">map</i>
                    <input id="finishing" name="finishing" value="{{ task.finishing }}"
                        minlength="5" maxlength="30" type="text" class="validate" required>
                    <label for="finishing">Finishing:</label>
                </div>
            </div>
            <!-- Delivery method and delivery date fields -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">local_shipping</i>
                    <input id="delivery" name="delivery" value="{{ task.delivery }}"
                        minlength="5" maxlength="30" type="text" class="validate" required>
                    <label for="delivery">Delivery</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">date_range</i> 
                    <input id="delivery_date" name="delivery_date" value="{{ task.delivery_date }}" type="text" class="datepicker validate" required>
                    <label for="delivery_date">Delivery Date</label>
                </div>
            </div>
            <!-- Delivery address fields -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">room</i>
                    <textarea id="delivery_address" name="delivery_address" value="{{ task.delivery_address }}" class="materialize-textarea" 
                        minlength="5" maxlength="100" required>
                    {{- task.delivery_address -}}
                    </textarea>
                    <label for="delivery_address">Delivery Address</label>
                </div>
            </div>
            <!-- Urgent switch -->
            <div class="row">
                <div class="input-field col s6">
                    <div class="switch">
                        <i class="material-icons prefix">priority_high</i>
                        <label for="urgent">
                            {% if task.urgent == "on" %}
                            <input type="checkbox" id="urgent" name="urgent" checked>
                            {% else %}
                            <input type="checkbox" id="urgent" name="urgent">
                            {% endif %}
                            <span class="lever"></span>
                            Urgent
                        </label>
                    </div>
                </div>
            </div>
            <!-- Submit and cancel buttons -->
            <div class="row">
                <div class="col s12 center-align"> 
                    <a href="{{ url_for('get_tasks') }}" class="btn-large red text-shadow">Cancel 
                        <i class="material-icons right">exit_to_app</i>
                    </a>
                    <button class="btn-large waves-effect waves-light" type="submit">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}