{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Add Task</h3>

    <div class="row card-panel">
        <form class="col s12" method="POST" action="{{ url_for('add_task') }}">
            <!-- Job title and job number -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="company_name" name="company_name" 
                        minlength="5" maxlength="30" type="text" class="validate" required>
                    <label for="company_name">Company Name</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="job_title" name="job_title" 
                        minlength="5" maxlength="30" type="text" class="validate" required>
                    <label for="job_title">Job Title:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">phone</i>
                    <textarea id="job_description" name="job_description" class="materialize-textarea" 
                        minlength="5" maxlength="100" required></textarea>
                    <label for="job_description">Job Description</label>
                </div>
            </div>
            <!-- Printing and finishing -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="quantity" name="quantity" pattern="^[0-9]{1,10}$"
                        minlength="1" maxlength="10" type="text" class="validate" required>
                    <label for="quantity">Quantity</label>
                 </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="materials" name="materials" 
                        minlength="3" maxlength="30" type="text" class="validate" required>
                    <label for="materials">Materials:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="printing" name="printing" 
                        minlength="5" maxlength="30" type="text" class="validate" required>
                    <label for="printing">Printing</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="finishing" name="finishing" 
                        minlength="5" maxlength="30" type="text" class="validate" required>
                    <label for="finishing">Finishing:</label>
                </div>
            </div>
            <!-- Delivery date and urgent switch -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="delivery" name="delivery" 
                        minlength="5" maxlength="30" type="text" class="validate" required>
                    <label for="delivery">Delivery</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="delivery_date" name="delivery_date" type="text" class="datepicker validate" required>
                    <label for="delivery_date">Delivery Date</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">phone</i>
                    <textarea id="delivery_address" name="delivery_address" class="materialize-textarea" 
                        minlength="5" maxlength="100" required></textarea>
                    <label for="delivery_address">Delivery Address</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <div class="switch">
                        <i class="material-icons prefix">priority_high</i>
                        <label for="urgent">
                            <input type="checkbox" id="urgent" name="urgent">
                            <span class="lever"></span>
                            Urgent
                        </label>
                    </div>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row">
                <div class="col s12 center-align"> 
                    <button class="btn-large waves-effect waves-light" type="submit">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}


