{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Tasks</h3>

  <ul class="collapsible">
      {% for task in tasks %}
      <li>
        <div class="collapsible-header">
          <div class="col s3">
            {% if session.user|lower == task.created_by|lower %}
              <a href="" class="btn-small red accent-4">Done</a>
              <a href="{{ url_for('edit_task', tasks_id=task._id) }}" class="btn-small yellow">Edit</a> 
            {% endif %}
          </div>  
          <div class="col s9"></div>
            <i class="material-icons">note</i>
            <strong>{{ task.job_title }}</strong>
            <strong>{{ task.job_no }}</strong>
            <em>{{ task.created_by }}</em>
            <i class="material-icons">local_shipping</i> {{ task.delivery_date }}
              {% if task.urgent == "on" %}
                <i class="material-icons" data-position="right" data-tooltip="Priority!">priority_high</i>
              {% endif %}
          </div>
        </div>
        <div class="collapsible-body"><span><p>{{ task.job_description }}</p</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Printing</div>
          <div class="collapsible-body"><span>{{ task.size }} <br>
            {{ task.pages }} <br>
            {{ task.materials }} <br>
            {{ task.printing }} <br>
          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>Finishing</div>
        <div class="collapsible-body"><span>{{ task.finishing }}</span>
        </div>
      </li>
      {% endfor %}
    </ul>
           
{% endblock %}